body {
    background-color: rgb(169, 255, 244);
}

.about-section {
    margin: 0 50px;
    display: flex;
    flex-direction: column;
    padding-bottom: 110px; /* Adjust the padding to be greater than or equal to the footer height */
}

.user-button {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}